/* ------- ESTILOS GENERALES -------- */

* {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3.3em;
    font-weight: 900;
    line-height: 1.2;
}

h2 {
    font-size: 2.3em;
}

h3 {
    font-size: 1.6em;
}
h4 {
    font-size: 1.3em;
    font-weight: 600;
}


/* ------- MENU HAMBURGUESA -------- */

#nav {
    height: 10vh;
    background: #721B29;
}

#nav .container {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    display: none;
    background-color: #721B29;
    height: 100vh;
    width: 100%;
    transform: translateX(150%);
    transition: transform 0.5s ease-in;
}

.active {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: translateX(0%);
    color: white;
    z-index: 100;
}

.menu a {
    font-size: 1.6em;
    cursor: pointer;
    font-weight: 600;
}

.menu a:hover {
    color: #414865;
}

.nav-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.nav-toggle span {
    display: block;
    width: 35px;
    background: #22314A;
    height: 5px;
    border-radius: 10px;
    margin: 5px 0;
    transform-origin: left;
    transition: opacity 0.2s, transform 0.2s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.nav-toggle span:nth-child(2){
    width: 45px;
}

.cruz span:nth-of-type(2){
    opacity: 0;
}

.cruz span:nth-of-type(1){
    transform: rotatez(45deg);
}

.cruz span:nth-of-type(3){
    transform: rotatez(-45deg);
}

/* ------- HEADER -------- */

.header-info {
    text-align: left;
    height: 90vh;
    background-image: url('https://i.postimg.cc/28BZF4Pg/prueba2.png');
    background-position: center;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.header-info p {
    margin: 1.3em 0;
}

.header-info a {
    display: inline-block;
    padding: 15px 20px;
    border-radius: 30px;
    color: white;
    background: black;
    align-items: center;
    cursor: pointer;
}

.header-info ion-icon {
    margin-left: 10px;
    font-size: 1.2em;
}



/* ------- SECTION ONE -------- */

#quiensoy {
    background: grey;
    margin-top: 40px;
}

.quiensoy--img {
    background-image: linear-gradient(45deg, black, transparent), url('https://i.postimg.cc/vBcN0q7W/yo.jpg');
    height: 60vh;
    background-size: cover;
    position: relative;
}

.quiensoy--img h2 {
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}

.btn-dropdown {
    background: lightsteelblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}

.btn-dropdown-content {
    margin: 20px 0;
}
.btn-dropdown-titles {
    display: flex;
    align-items: center;
}


.btn-dropdown-content-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


.btn-dropdown-content-bar, .porcentaje {
    height: 10px;
    border-radius: 0.25rem;
    background-color: #22314A;
}

.porcentaje {
    display: block;
    background-color: #721B29;
}

.html {
    width: 60%;
}

.css {
    width: 90%;
}



.html {
    width: 60%;
}

.css {
    width: 90%;
}


/* ------- AMPLIACIÓN -------- */


.ampliacion h3 {
    margin: 20px 0;
}

.ampliacion h4 {
    margin: 15px 0;
}


.ampliacion-img {
    background-color: lightslategray;
    height: 60vh;
    position: relative;
}

.ampliacion-img h2 {
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}

.description-extra {
    margin: 20px 0;
}

.categorias {
    margin-bottom: 10px;
}

.categorias a {
    display: inline-block;
    background-color: lightsteelblue;
    border-radius: 3px;
    padding: 10px;
    font-size: 0.8em;
    color: black;
}

.enlace  {
    display: inline-block;
    background-color: #22314A;
    border-radius: 5px;
    padding: 15px;
    font-size: 1em;
    color: white;
    margin-top: 10px;
}
.colores {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.color-individual {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.color-individual p {
    margin-left: 10px;
}

.color-individual span {
    font-weight: bold;
}

.circulo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.circulo.primero {
    background-color: red;
}
.circulo.segundo {
    background-color: burlywood;
}
.circulo.tercero {
    background-color: yellowgreen;
}

.tipografia-div {
    background: url(/img/tipomobile.jpg);
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
}

.imagenes-ampliacion div{
    height: 280px;
}

.imagenes-ampliacion .img1 {
    background-color: rosybrown;
}
.imagenes-ampliacion .img2 {
    background-color: royalblue;
}
.imagenes-ampliacion .img3 {
    background-color: lightsalmon;
}

.agradecimiento {
    text-align: center;
}

.agradecimiento span {
    font-size: 3.2em;
}

.agradecimiento h4 {
    margin: 0;
}


/* ------- RESPONSIVE -------- */

@media screen and (min-width:992px){
    .ayuda {
        display: flex;
        align-items: center;
    }
    .header-info {
        height: auto;
        width: 50%;
    }
    .header-info h1 {
        font-size: 4em;
    }
    .ayuda .header-texture {
        order: 2;
        width: 50%;
        height: 90vh;
        background-image: url(/img/inicio2.svg);
        background-size: cover;
    }
    .quiensoy--img {
        width: 50%;
        height: 80vh;
    }
    .entero {
        width: 50%;
    }
    .ocultar {
        display: none;
    }
    #quiensoy h2 {
        position: inherit;
    }
    .tipografia-div {
        background: url(/img/tipodesktop.jpg);
        height: 300px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .imagenes-ampliacion div{
        height: 430px;
    }
}




